body
{
	background:url(../img/bg.png) repeat-x;	
}

#content
{
	width:1024px;
	margin: 0px auto;
}

#content-head
{
	height:100px;
}

#logo
{
	height:52px;
	margin:25px;
	background:url(../img/logo.png) no-repeat;	
}

#content-body
{
	margin-left:25px;
}

#content-title
{

	font-size: 22px;
	color: #06F;
	padding: 3px;
	margin-top:10px;
		
}